@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
  font-style: normal;
  letter-spacing: 2px;
}

body {
  min-height: 100vh;
  min-width: 100%;
}

.App {
  text-align: center;
}

.nav-link {
  display: flex;
  justify-content: flex-end;
  background-color: skyblue;
  padding: 1.2em 0;
}

.nav-link a {
  text-decoration: none;
  padding: 0 2em;
  font-size: 1.5em;
}

.nav-link .active {
  color: red;
}
